%h1 Main
.grid-container
  .grid-row
    .grid-span-8
      .bordered
    .grid-span-4
      .bordered
  .grid-row
    .grid-span-4
      .bordered
    .grid-span-4
      .bordered
    .grid-span-4
      .bordered
  .grid-row
    .grid-span-4
      .bordered
    .grid-span-2
      .bordered
    .grid-span-2
      .bordered
    .grid-span-2
      .bordered
    .grid-span-2
      .bordered

%style(type='text/css')
  :sass
    .bordered
      border: 1px solid #CCC
      height: 12px
  
